
<%- include ('include/_header') %> 

    <h1 class="text-center movieNameh1">Search Result <span>Benjamin Button</span></h1>

    <div class="card mx-3" style="padding:5rem;">
        <div class="row no-gutters">
            <div class="col-md-6">
                <img src="" alt="" class="card-img img-fluid">
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h2 class="card-title">Benjamin Button</h2>
                    <hr>
                    <p class="card-text">Summary of movies.. </p>
                    <hr>
                    <p class="card-text"><strong>Date published : </strong>2021</p>
                    <p class="card-text"><strong>Total votes : </strong>22</p>
                    <p class="card-text"><strong>Average Rating : </strong>6.7</p>

                </div>
            </div>
        </div>
    </div>


<%- include ('include/_footer.ejs') %> 